/*Footer*/

footer {
	width: 100%;
	background: #777;
	padding: 50px 0;
	bottom: 0;
}

footer span, footer a {
	display: block;
	color: #fff;
}

footer a:hover {
	text-decoration: none;
}

footer .copyright, footer ul {
	float: left;
	margin-right: 20%;
}

footer .develop_site {
	float: right;
	width: 240px;
}

footer .develop_site .icon_site {
	background: url("../img/icon.png");
	width: 38px;
	height: 38px;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

/*Media*/

@media (max-width: 960px) {
	footer .develop_site {
		float: left;	
	}
}

@media (max-width: 560px) {
	footer .copyright, footer ul {
		margin-top: 20px;
	}
}

@media (max-width: 480px) {
	footer .develop_site {
		margin-top: 20px;
	}
}

